.hidden{
    display:none;
}

.unhidden{
    display:block;
}



/* 
Colors
    Red: #d7282f
    Dark Blue: #004a98
    Light Blue: #6bc4e8
    Creme: #f2ecdb
    Yellow: #FDDA24

Fonts
    Headers
        Avenir medium or black

    Century Gothic
*/

/*
bootstrap

    <table class "tabke tabke-striped"</table>
    forms
    Navbar
*/

/* .topboxes {
    float: left;
    background-color: white;
    color: black;
    margin: 30px;
    width: 200px;
    height: 100px;
    border: black;
    text-align: center;
    padding: 10px;
    font-family: avenir medium;
} */