header {
    background-color: #004a98;
    margin: 0;
}

#mainlogo {
    width: 225px;
    padding: 10px;
}

body {
    background-color: #f2ecdb;

}


.nav {
    background-color: #6bc4e8;
    margin-bottom: 15px;
}


.li {
    list-style-type: none;
    
}

.panel {
   
}

.breakdowns {
    width: 400px;
    margin: 20px;
    
}

.totals  {
    margin: 10px;
}

.tr {
    padding: 30px;
}

.row  {
    width: 960px;
}


/* 
Colors
    Red: #d7282f
    Dark Blue: #004a98
    Light Blue: #6bc4e8
    Creme: #f2ecdb
    Yellow: #FDDA24

Fonts
    Headers
        Avenir medium or black

    Century Gothic
*/

/*
bootstrap

    <table class "tabke tabke-striped"</table>
    forms
    Navbar
*/

/* .topboxes {
    float: left;
    background-color: white;
    color: black;
    margin: 30px;
    width: 200px;
    height: 100px;
    border: black;
    text-align: center;
    padding: 10px;
    font-family: avenir medium;
} */